body {
    font-family: 'Ropa sans';
    margin: 0auto;
    width: 100%;
    max-width: 697px;
    border: .5px solid #8888888e;
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
}

header {
    padding: 16px 45px;
    border-bottom: .5px solid #8888888e;
}

#menu {
    margin-left: 470px;
}

main {
    padding: 16px 45px;
}

.banner {
    margin-top: 10px;
}

.banner img{
    width:100%;
    margin-bottom: 15px;
}

section .left,
section .right {
    display: inline-block;
}

section .left{
    margin-top: 25px;
}

.right {
    margin-left: 90px;
}

section .description {
    width: 255px;
    font-size:16px;
    border: 20px;
    background-color: rgb(221, 214, 214);
    text-align: center;
    margin-top: none;
}

.description p{
    text-align: justify;
}

.description .money {
    font-size: 25px;
    margin-right: 120px;
    color: gray;
}

.badge-green {
    background-color: green;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    padding: 0 8px;
}

.badge-orange {
    background-color: rgb(238, 175, 58);
    font-size: 20px;
    color: white;
    border-radius: 10px;
    padding: 0 8px;
}

.categories p{
    display: inline-block;
    height: 50px;
    color: white;
    font-size: 26px;
}

.your-style{
    text-align: center;
    font-size: 26px;
    color: gray;
}

.categories.industrial {
    background-image: url('img/industrial.png'); 
}

.categories.modern {
    background-image: url('img/modern.png');
}

.categories.classic {
    background-image: url('img/classic.png');    
}

.categories {
    background-repeat: no-repeat;
}

footer {
    background-color: rgba(43, 40, 40, 0.849);
    padding: 45px;
    color: white;
    font-size: 14px;
    height: 200px;
}

footer div {
    display: inline-block;
}

footer .about {
    margin-left: 160px;
    line-height: 15px;
}   

footer .social-media *{
    margin: 0 10px 0 0;
}

