body {
    font-family: 'Ropa sans';
    margin: 40px;
    width: 100%;
    max-width: 697px;
    border: .5px solid #8888888e;
};

header {
    padding: 16px 45px;
    border-bottom: .5px solid #8888888e;
}

.banner {
    margin-top: 10px;
}

main {
    padding: 16px 45px;
}

.banner img{
    width:100%
}

section .left,
section .right {
    display: inline-block;
}

section .left{
    margin-top: 25px;
}

.right {
    margin-left: 90px;
}

section .description {
    width: 250px;
    font-size:16px;
    border: 20px;
    background-color: rgb(221, 214, 214);
    text-align: center;
}

.description .money {
    font-size: 22px;
    margin-right: 120px;
    color: gray;
}

.badge-green {
    background-color: green;
    font-size: 18px;
    color: white;
    border-radius: 5px;
}

