body {
    font-family: 'Ropa sans';
    margin: 0 auto;
    width: 100%;
    max-width: 697px;
    border: .5px solid #8888888e;
};

header {
    padding: 13px 45px; 
    border: .5px solid #8888888e;
};

main {
    padding: 16px 45px;
};

.banner {
    margin-bottom: 45px;
};

.banner img{
    width:100%;
};

section .left, 
section .right{
    display: inline-block;
};

.right {
    margin-left: 90px;
};

.categories{
    min-height: 80px;
    opacity: .7;
    text-align: center;
    margin-bottom: 8px;
};

.categories p {
    display: inline-block;
    margin: 20px auto;
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;

};

.categories.industrial{
    background-image: url("img/industrial.png");
    color:#EEEEEE;
};

.categories.modern{
    background-image: url("img/modern.png");
    color:#EEEEEE;
};

.categories.classic{
    background-image: url("img/classic.png");
    color:#EEEEEE;
};

.your-style {
    margin: 45px 0;
    color:gray;
    font-weight: 400px;
    font-size: 25px;
    line-height: 25px;
};

.text-center{
    text-align: center;
};

.description {
    background-color: #EEEEEE;
    padding: 12px;
    max-width: 232px
};

.money {
    font-size: 25px;
    line-height: 27px;
    color: gray;
};

.badge {
    border-radius: 5px;
    color:white;
    padding: 0 15px;
    font-size: 20px;
    margin-left: 90px;
};

.badge.green {
    background-color: rgb(91, 207, 91);
};

.badge.orange {
    background-color: rgb(238, 182, 79);
};

footer div {
    display: inline-block;
};

footer {
    background-color: rgba(0, 0, 0, 0.726);
    padding: 45px;
    color: white;
};

.about {
    margin-left: 90px;
};

footer .social-media *{
    margin: 0 10px 0 0;
};