body {
    font-family: 'Ropa sans';
    margin: 0 auto;
    width: 100%;
    max-width: 697px;
    border: .5px solid #8888888e;
}

/* padding = margens de 13px para cima/baixo e 45px para direita/esquerda */
header {
    padding: 13px 45px; 
    border: .5px solid #8888888e;
}

/* conteudo do main */
main {
    padding: 16px 45px;
}

/* margem de baixo - Imagem do banner */
.banner {
    margin-bottom: 45px;
}

.banner img{
    width:100%;
}

section .left, 
section .right{
    display: inline-block;
}

.right {
    margin-left: 90px;
}

.categories{
    min-height: 80px;
    opacity: .7;
    text-align: center;
    margin-bottom: 8px;
}

.categories p {
    display: inline-block;
    margin: 20px auto;
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
}